@font-face {
	font-family: "Title";
	font-style: normal;
	font-weight: 400;
	src: local("Title"), url("title.woff") format("woff");
}

@font-face {
	font-family: "Text";
	font-style: normal;
	font-weight: 700;
	src: local("Text"), url("text.woff") format("woff");
}

body, a {
	margin: 0px;
	border-width: 0px;
	text-decoration: none;
	font: 14px/1.3em "Helvetica","Arial","sans-serif";
	color: rgb(102, 102, 102);
	/*background: #b6b6b6 url(../img/ios-linen.jpg) repeat-x;*/
}

a:hover {
	cursor: pointer;
}

/* ###################################################################
	 ------------------------------TEMP-------------------------------
	 ################################################################### */



/* ###################################################################
	 -----------------------------Diverse-------------------------------
	 ################################################################### */

.failclass {
	font: 12px/1.1em "Lucida Sans Unicode","sans-serif";
	color: rgb(170,0,0);
	display: none;
}


/* ###################################################################
	 -----------------------------Layout-------------------------------
	 ################################################################### */

.layout {
	position: absolute;
	width: 100%;
	min-width: 1000px;
}

#back {
	background: url("../img/background.png") repeat scroll 0% 0% rgb(212, 212, 212);
	/*background: #b6b6b6 url(../img/ios-linen.jpg) repeat-x;*/
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	min-width: 1000px;
}

#banner {
	position: absolute;
	width: 100%;
	height: 90px;
	text-align: center;
	background-color: rgb(47,190,219);
	box-shadow: 0px 0px 7px 0px rgb(47,47,47);
	/*box-shadow: 0px 0px 13px 0px rgb(47,190,219);*/
	z-index:1;
} 

#middle {
	height: 90px;
	padding: 5px;
	background-color: white;
	box-shadow: 0px 0px 3px 0px rgb(150, 150, 150);
	border-top: 0px solid rgb(217, 0, 109);
	border-bottom: 0px solid rgb(217, 0, 109);
}

.wrapper {
	width: 1000px;
	position: relative;
	margin: 0px auto; 
}

#content {
	z-index:-1;
	margin-top: 90px;
}

/* ###################################################################
	 ------------------------------Banner-------------------------------
	 ###################################################################*/

a#title {
	font: italic bold 40px "Georgia","serif";
	color: rgb(10,140,160);
	left: 49px;
	top: 30px;
	position: absolute;
	text-shadow: -1px -1px 0px #000;
}

a#subtitle {
	font: bold 20px/1.1em "Georgia","serif";
	color: rgb(10,140,160);
	left: 180px;
	top: 45px;
	text-shadow: -1px -1px 0px #000;
	position: absolute;
}

#menu {
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #EEE;
	right: 49px;
	top: 42px;
	position: absolute;
	float: right;
}

#bannername {
	vertical-align: bottom;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #EEE;
}

.menuimg {
	position: relative;
	top: 5px;
	width: 25px;
	height: 25px;
}

#gear {
	width: 23px;
	height: 23px;
	display:inline-block;
	background-image: url("../img/gear.png") ;
	background-size:100%;
}

#gear:hover {
	cursor: pointer;
	background-image: url("../img/gear_hover.png");
}

#searchButton:hover {
	cursor: pointer;
	color: rgb(117,117,117);
}

#searchArrow {
	width: 20px;
	height: 20px;
	display:inline-block;
	background-image: url("../img/searchArrow.png") ;
	background-size:100%;
}

#searchButton:hover #searchArrow {
	cursor: pointer;
	background-image: url("../img/searchArrow_hover.png");
}

#searchbar {
	position: relative;
	background-image: url("../img/searchbar.png");
	width: 800px;
	height: 50px;
	margin: 0px auto;
	visibility: hidden;
}

@keyframes searchbar_move_down {
	from {
		top: 50px;
		visibility: hidden;
		opacity: 0;
	}
	to {
		top: 90px;
		visibility: visible;
		opacity: 1;
	}
}

@-webkit-keyframes searchbar_move_down {
	from {
		top: 50px;
		opacity: 0;
	}
	to {
		top: 90px;
		opacity: 1;
	}
}

@-webkit-keyframes searchbar_move_up {
	from {
		top: 90px;
		visibility: visible;
		opacity: 1;
	}
	to {
		top: 50px;
		visibility: hidden;
		opacity: 0;
	}
}

@-webkit-keyframes searchbar_move_up {
	from {
		top: 90px;
		visibility: visible;
		opacity: 1;
	}
	to {
		top: 50px;
		visibility: hidden;
		opacity: 0;
	}
}

#searchInput {
	border: 0px solid;
	outline: none;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #AAA;
	position: relative;
	margin: 10px 100px;
	width: 600px;
	text-align: center;
}

#searchLupe {
	width: 29px;
	height: 29px;
	position: relative;
	left: 680px;
	bottom: 35px;
}

#searchlupe:hover {
	cursor: pointer;
}

/*#login_email {
	color: #AAA;
	font: 14px/1.1em "Lucida Sans Unicode","sans-serif";
	outline: none;
}

#login_password {
	color: #AAA;
	font: 14px/1.1em "Lucida Sans Unicode","sans-serif";
	outline: none;
}*/

#login_email {
	color: #AAA;
	font: 14px/1.1em "Lucida Sans Unicode","sans-serif";
	outline: none;
	display: inline;
	margin: 0px;
	width: 150px;
	border: 1px solid rgb(204, 204, 204);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0.5em;
}

#login_password {
	color: #AAA;
	font: 14px/1.1em "Lucida Sans Unicode","sans-serif";
	outline: none;
	display: inline;
	margin: 0px;
	width: 150px;
	border: 1px solid rgb(204, 204, 204);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0.5em;
}










#login {
	position: relative;
	top: 2px;
	border: 1px solid #222;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	background: rgb(20,140,180);
	display: inline;
	color: #FFF;
	outline: none;
}

#login:hover {
	cursor: pointer;
}

.wrong_login {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 7px;
	display: none;
}

#wrong_email {
	left: 246px;
}

#wrong_password {
	left: 420px;
}

/* ###########################################################################
	 ------------------------------Registerform-------------------------------
	 #######################################################################*/

#registerform {
	border: 1px solid #AAA;
	background: #FFF;
	position: absolute;
	top: 100px;
	right: 50px;
	width: 400px;
	height: 431px;
}

@keyframes reg_success{
	from {height: 431px;}
	to {height: 100px;}
}

@-webkit-keyframes reg_success{
	from {height: 431px;}
	to {height: 100px;}
}

#reg_header {
	margin-left: 40px;
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #AAA;
}

#reg_submit {
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 320px;
	border: 1px solid #222;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	background: rgb(20,140,180);
	text-align: center;
	line-height: 30px;
	color: #FFF;
	outline: none;
	padding: 0 0.5em 0 0.5em;
}

#reg_submit_text {
	position: absolute;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 320px;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	text-align: center;
	line-height: 30px;
	color: #FFF;
	outline: none;
}

#reg_submit_text:hover {
	cursor: pointer;
}

#reg_success {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 320px;
	border: 1px solid #222;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	background: #AAA;
	text-align: center;
	line-height: 30px;
	color: rgb(0,128,0);
	outline: none;
}

#reg_submit:hover {
	cursor: pointer;
	background: rgb(10,130,170);
}

#reg_name {
	outline: none;
}

#reg_email {
	outline: none;
}

#reg_emailver {
	outline: none;
}

#reg_password {
	outline: none;
}

#reg_passwordver {
	outline: none;
}

/* ###########################################################################
	 ------------------------------Newsform-------------------------------
	 #######################################################################*/

#newsform {
	border: 1px solid #AAA;
	background: #FFF;
	position: absolute;
	top: 100px;
	left: 50px;
	width: 400px;
	height: 431px;
}

#newstrenner_1 {
	position: relative;
	bottom: 0px;
	height: 1px;
	width: 300px;
	background-color: #AAA;
	box-shadow: 1px 1px 3px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
}

#newstrenner_2 {
	position: absolute;
	bottom: 60px;
	left: 50px;
	height: 1px;
	width: 300px;
	background-color: #AAA;
	box-shadow: 1px 1px 3px 0px;
}

#newsnav {
	position: absolute;
	bottom: 20px;
	text-align: right;
	margin-right: 40px;
	margin-left: 40px;
	width: 320px;
}

#newstitle {
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

#newscontent {
	font: 12px/1.1em "Lucida Sans Unicode","sans-serif";
	margin-left: 40px;
	margin-right: 40px;
}

.newsnumber {
	font: 16px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #AAA;
	border-bottom: solid 1px #AAA;
	border-right: solid 1px #AAA;
	border-left: solid 1px #DDD;
	border-top: solid 1px #DDD;
	box-shadow: 1px 1px 3px 0px;
	display: inline;
	margin: 5px;
	width: 50px;
}

#newsnumber_active {
	font: 16px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #FFF;
	border-bottom: solid 1px #AAA;
	border-right: solid 1px #AAA;
	border-left: solid 1px #DDD;
	border-top: solid 1px #DDD;
	box-shadow: 1px 1px 3px 0px;
	display: inline;
	margin: 5px;
	width: 50px;
	background-color: #AAA;
}

.newsnumber:hover {
	cursor: pointer;
	background-color: #CCC;
	color: #777;
}

#newsnumber_active:hover {
	cursor: pointer;
}

#newsArrowLeft {
	position: relative;
	top: 3px;
	border: none;
	box-shadow: 0px 0px 0px 0px;
	background: url("../img/newsArrowLeft.png");
	background-size: 100%;
	width: 20px;
	height: 20px;
	display:inline-block;
}

#newsArrowLeft:hover {
	cursor: pointer;
}

#newsArrowRight {
	position: relative;
	top: 3px;
	border: none;
	box-shadow: 0px 0px 0px 0px;
	background-image: url("../img/newsArrowRight.png");
	background-size: 100%;
	width: 20px;
	height: 20px;
	display:inline-block;
}

#newsArrowRight:hover {
	cursor: pointer;
}

/* ###########################################################################
	 ------------------------------Optionform-------------------------------
	 #######################################################################*/

#optionform {
	position: absolute;
	top: 100px;
	right: 50px;
	width: 400px;
	height: 431px;
}

.option {
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	border: 1px solid #AAA;
	background-color: #FFF;
	width: 400px;
	height: 67px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-top: 10px;
	line-height: 40px;
}

.option:hover {
	cursor: pointer;
	box-shadow: 1px 1px 3px 0px #000;
}

/* ###################################################################
	 -----------------------------Profile-------------------------------
	 ################################################################### */

#profileform {
	height: 500px;
	width: 900px;
	margin-top: 140px;
	margin-left: 50px;
	background: #FFF;
	border: 1px solid #AAA;
}

#userimage {
	position: absolute;
	margin-top: 50px;
	margin-left: 50px;
	width: 200px;
	height: 200px;
	border: solid 1px #AAA;
}

#titlename {
	position: absolute;
	margin-top: 50px;
	margin-left: 300px;
	font: 36px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #777;
}

#feed {
	position: absolute;
	margin-top: 100px;
	margin-left: 300px;
	font: 20px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #999;
	width: 100px;
	white-space: normal;
}

#optionpanel {
	position: absolute;
	margin-top: 270px;
	left: 100px;
}

.profileoption {
	height: 30px;
	width: 200px;
	border: solid 1px #AAA;
	margin-bottom: 10px;
	font: 16px/1.1em "Lucida Sans Unicode","sans-serif";
	line-height: 30px;
	text-align: center;
}

.profileoption:hover {
	box-shadow: 1px 1px 3px 0px #000;
	cursor: pointer;
}

/* ###########################################################################
	 ------------------------------Search-------------------------------
	 #######################################################################*/

#searchHead {
	font: 16px/1.1em "Lucida Sans Unicode","sans-serif";
	color: #777;
	margin-bottom: 10px;
}

#searchResults {
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
}

.searchResult {
	margin-top: 10px;
	width: 900px;
	height: 30px;
	background: #FFF;
	border: 1px solid #AAA;
}

.searchResult:hover {
	box-shadow: 1px 1px 3px 0px #000;
}

.searchImage {
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	width: 20px;
	height: 20px;
}

.searchName {
	margin-left: 50px; 
	font: 16px/1.1em "Lucida Sans Unicode","sans-serif";
	line-height: 30px;
	display: inline;
}

.searchName:hover {
	cursor:pointer;
}

.searchFeed {
	margin-left: 10px; 
	font: 12px/1.1em "Lucida Sans Unicode","sans-serif";
	line-height: 30px;
	display: inline;
}

.searchOption {

}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	display: none;
	overflow: auto;
	overflow-y: scroll;
}

.modal-dialog {
	right: auto;
	left: 50%;
	width: 600px;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 1050;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
}

#dialog {
	display: none;
	top: 100px;
}

#dialog-content {
	display: block;
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#dialog-title {
	padding: 20px;
}

#dialog-body {
	padding: 20px;
	border-top: 1px solid #e5e5e5;
}

#dialog-footer {
	padding: 20px;
	border-top: 1px solid #e5e5e5;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #666666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	z-index: 1030;
	overflow: auto;
	overflow-y: scroll
}

.fade {
	transition: opacity .15s linear, height .15s;
	-webkit-transition: opacity .15s linear, height .15s;
}

.fade:hover {
	opacity: 0.5;
	height: 5px;
}

.btn {
	-webkit-appearance: none;
	-webkit-user-select: none;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 34px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 90px;
}

.btn-close {
	-webkit-appearance: none;
	-webkit-user-select: none;
	/*background-color: rgb(66, 139, 202);*/
	background-color: rgb(20,140,180);
	background-image: none;
	border-bottom-color: rgb(53, 126, 189);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(53, 126, 189);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(53, 126, 189);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(53, 126, 189);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 34px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 90px;
}

.btn-close:hover {
	background-color: rgb(10,130,170);
}

.btn:hover {
	background-color: rgb(235,235,235);
}

.email-input.input {
	display: block;
	margin-top: 2em;
	width: 250px;
	border: 1px solid rgb(204, 204, 204);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 1em;
}

.input {
	display: block;
	margin: 0px;
	width: 250px;
	border: 1px solid rgb(204, 204, 204);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 1em;
}

.reg_field_inner {
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 320px;
	border: 1px solid rgb(204, 204, 204);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0.5em;
	font: 15px/1.1em "Lucida Sans Unicode","sans-serif";
}

/*.reg_field_inner {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	color: #AAA;
	font: 15px/1.1em "Lucida Sans Unicode","sans-serif";
	width: 320px;
}*/

#gear {
	-webkit-transition:-webkit-transform 1s,opacity 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s;
	transition-property:width,height,transform,font-size,opacity;
	transition-duration:1s,1s,1s,1s,1s;
}

#gear:active {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}


.fade {
	transition: opacity .15s linear, height .15s;
	-webkit-transition: opacity .15s linear, height .15s;
}

.fade:hover {
	opacity: 0.5;
	height: 5px;
}


@keyframes dialog_fade_in {
	from {
		top: -100px;
	}
	to {
		top: 100px;
	}
}

@-webkit-keyframes dialog_fade_in {
	from {
		top: -100px;
	}
	to {
		top: 100px;
	}
}

@keyframes dialog_fade_out {
	from {
		top: 100px;
	}
	to {
		top: -100px;
	}
}

@-webkit-keyframes dialog_fade_out {
	from {
		top: 100px;
	}
	to {
		top: -100px;
	}
}

.error p {
	color: red;
	position: relative;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.email-input.error {
	border-color: red;
}

.error::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    red;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    red;
}


@keyframes invite_success{
	from {height: 200px;}
	to {height: 100px;}
}

@-webkit-keyframes invite_success{
	from {height: 200px;}
	to {height: 100px;}
}

.a, .b {
	display: hidden;
	height: 1em;
	margin-bottom: 1em;
}

.a p, .b p {
	position: absolute;
}

input:focus::-webkit-input-placeholder {
     opacity: 0.6;
}

/*
@keyframes invite_success{
	from {transform: translate(100%);}
	to {transform: translate(0);}
}

@-webkit-keyframes invite_success{
	from {transform: translate(100%);}
	to {transform: translate(0);}
}
*/


.animated{
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 2s
	;animation-duration: 2s;
}


@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.flipOutX {
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

#invite-success {
	display: none;
	position: relative;
	color: rgb(0,128,0);
	text-align: center;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

$("#dialog-title").text("Erfolgreich registriert");
$("#dialog-title").css({'color' : 'rgb(0,128,0)' , 'text-align' : 'center'});