
@{
    ViewBag.Title = "ChatView";
}

<div id="mainFrame" class="contentwrapper">
	<div class="content" style="height: 2000px; background-color: #aaa">
		<div id="chatwrapper">
			<div id="chatframe">
				<div id="chatcontent">
					<ul style="list-style-type: none;">
						<li ng-repeat="message in messages">
							{{message.sender}} - {{message.text}}
						</li>
					</ul>
				</div>
				<div id="chatinputwrapper">
					<input id="messageText" type="text" value="Nachricht" />
					<input type="button" value="Senden" ng-click="sendMessage()" />
				</div>
			</div>
			<div id="onlineusers">
				<ul style="list-style-type: none; padding: 0px;">
					<li ng-repeat="(connectionId, name) in users" ng-click="toggleSelected($index, connectionId)" ng-class="isSelected[$index]">
						{{name}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>