@{
	ViewBag.Title = "ErrorView";
}

<meta http-equiv="refresh" content="5; URL=http://localhost:6345/">

<div id="mainFrame" class="contentwrapper">
	<div class="content">
        <div id="contenttitle">Error</div><br />
		Ein Fehler ist aufgetreten, sie werden auf die Startseite weitergeleitet ..
	</div>
</div>